.news_item_block{
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}
.news_item_data {
    margin-left: 3%;
}

.date_small{
    color: #1d2029;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 10px;
    padding: 0;
}

.news_item_title a span{
    color: #c50026;
    font-weight: 500;
}
.news_item_title a span:hover{
    color: #000;
}
.preview-text{
    font-size: 13px;
    color: #888888;
    margin-top: 10px;
    line-height: 20px;
}
.news_img{
    max-width: 190px;
}
.news_img img{
    min-width: 100%;
}
.news_description{
    color: #888888;
    max-width: 60%;
}
.news_gallery_list{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.news_in{
    display: flex;
}
.news_img_detial{
    height: 200px;
    line-height: 185px;
    padding: 5px;
    border: 1px solid #E5E5E5;
    margin: 0 0 20px 30px;
    width: 100%;
    line-height: 161px;
    text-align: center;
    overflow: hidden;
}
.news_img_detial img{max-width: 100%;
    max-height: 200px;
}

.news_gallery_list_img {

    margin-right: 3%;
    margin-bottom: 20px;
}
.news_gallery_list_img img{
    max-width: 100%;
    max-height: 200px;
}
.back .back {
    margin: 10px 0px 0px;
    display: inline-block;
}
.back a{
    font-weight: 600;
    color: #c50026;
}
.back a:hover{
    font-weight: 600;
    color: #000;
}
.store_property {
    margin-bottom: 23px;
    word-break: break-word;
}
.store_property .title {
    color: #888888;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
}
.store_property .value {
    color: #383838;
    font-size: 13px;
    line-height: 20px;
}
.store_property .value a{
    color: #383838;
    font-size: 13px;
    line-height: 20px;
}
.store_property .value a:hover{
    text-decoration: underline;
}
.store_tel{
    text-align: center;
    margin: 0px 0px 20px;
}
.store_tel span{
    font-weight: 500;
    font-size: 14px;
}
.contact-block{
    padding: 0 24px;
    margin: 39px 0 34px;
}
.contacts_text_content {
    color: #383838;
    font-size: 13px;
    line-height: 20px;
    min-height: 40px;
    padding-left: 25px;
    position: relative;
    vertical-align: middle;
    margin-bottom: 34px;
}

.contacts_text_content:before {
    background-color: #cf0036;
}
.contacts_text_content:before {
    bottom: 3px;
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    top: 3px;
    width: 3px;
}

.form_head h4{
    line-height: 20px;
    font-weight: 500;
}
.form .form_body {
    margin: 0 0 9px;
    position: relative;
}
.form.b .form_left, .form.b .form_right {
    float: none;
    left: inherit;
    margin: 0;
    max-width: inherit;
    padding: 0;
    position: relative;
    right: inherit;
    width: 100%;
}
.popup div.form-control, .form_body div.form-control, .middle_info .sku_props .form-control {
    background-color: #fff;
    border: 0px solid #d5dadc;
    box-shadow: none;
    border-radius: 0px;
    height: auto;
    padding: 0px;
}
.popup div.form-control label, .form_body div.form-control label {
    font-weight: 400;
}
.form textarea {
    min-height: 193px;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #f7f7f7;
    border: 1px solid #eaebec;
    border-radius: 2px;
    box-shadow: none;
    color: #383838;
    height: auto;
    font-size: 13px;
    padding: 8px 13px 7px;
    width: 100%;
}
.star{
    font-size: 12px;
    font-weight: normal;
    line-height: 0;
    margin: 0 0 0 4px;
    position: relative;
    color: #e62222;
}
.form-control label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    color: #888888;
}
.form .form_footer {
    margin: 0 0 23px 0;
}
.button.medium {
    padding: 10px 13px 12px;
    color: #FFF;
    background: #d9002a;
}
.form .form_footer .button + .button {
    margin-left: 13px;
    border-color: #d02c47;
}
.button_wrap .button, body .wrapper .button {
    -webkit-appearance: none;

}
.form_body {
    margin-bottom: 20px;
}

.prod_content{
    margin: 20px 0 30px;
    padding: 0;
    border: 1px solid #eaebec;
    position: relative;
}

/*PRODUCT IN */
/* STARS */
.rating-area {
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 22px;
	padding: 0;
	cursor: pointer;
	font-size: 23px;
	line-height: 23px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.prod-in-block{
    margin-left: 20px;
    width: 100%;
}
.prod_in_top_info_content{
    padding: 14px 0px 19px;
    border-bottom: 1px solid #F2F2F2;
}
.prod_in_top_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prod_in_article{
    font-size: 13px;
    color: #666;
    line-height: 18px;
    width: 50%;
}
.prod_in_top_info_text{
    font-size: 13px;
    padding-top: 26px;
    padding-bottom: 10px;
    color: #333333;
    max-height: 45px;
}
.prod_in_top_info_detial a{
    color: #c50026;
    cursor: pointer;
    font-size: 13px;
}
.prod_in_top_info_detial a:hover{
    color: #000;
}
.prod_content .row{
    padding-top: 20px;
}
.prod_in_mid{
    padding: 24px 0px 3px;
}
.prod_in_mid .price{ 
    padding: 0px 0px 22px 0px;
    font-size: 26px;
    line-height: 20px;
    font-weight: 600;
}
.counter_block {
    text-align: center;
    margin-bottom: 10px;
}
.counter_wrapp >div {
    margin-bottom: 22px !important;
}
.counter_block.big_basket > input {
    height: 34px;
    width: 35px;
    display: inline-block;
    font-size: 25px;
    opacity: 0.7;
    background-color: #fff;
    cursor: pointer;
}
.counter_block.big_basket input[type="text"] {
    font-size: 13px;
    height: 34px;
    width: 65px;
    border: 0px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #f7f7f7;
    color: #666666;
    font-size: 13px;
    border-radius: 0px;
    text-align: center;
    line-height: 13px;
}
.counter_block.big_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 140px;
    text-align: center;
    height: auto;
    border: 1px solid #e5e5e5;
}
.prod_in_buy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.prod_in_send_btn a, .prod_in_send_btn button{
    height: 38px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.prod_in_send_btn:not(:last-child){
    width: 30%;
    margin-left: 12px;
    margin-right: 12px;
}
.prod_in_send_btn:last-child{
    width: 30%;
}
.counter_block{
    margin-right: 12px;
}
.text.button {
    font-size: 13px;
    border-color: #888;
    border: 1px solid;
    text-transform: none;
    padding: 7px 10px 8px 32px;
    position: relative;
    color: #888;
    line-height: 15px;
}
.text.button:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 14px;
    background: url(../img/share.png) no-repeat;
    background-size: contain;
    left: 13px;
    top: 8px;
    opacity: 0.7;
}
.price_txt {
    width: 90%;
    padding-left: 50px;
    color: #b3b3b3;
    font-size: 12px;
}
.prod_in_share{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.forms .text_block {
    width: 29%;
    font-size: 13px;
    padding: 0px 60px 0px 0px;
    color: #b3b3b3;
    font: 13px/20px Ubuntu, Arial, Helvetica, sans-serif;
}
.question_block{
    display: flex;
}
.first_link {
    background-color: #bf0025;
    color: #fff;
}
.nav-link-sidebar-menu{
    margin-top: 0px;
}
.tabs-head li button{
    margin: 0 4px -1px 0;
    padding-left: 20px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    font-size: 14px;
    color: #333;
    opacity: 1;
    font-weight: 600;
    padding: 11px 18px 14px;
    border: 1px solid #e5e5e5;

}
.tabs-head .nav-link.active {
    border-top: 3px solid #d9002a;
}

.tabs-head .nav-link {
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
}
.tabs-head .nav-link:hover {
    color: #000;
    background: #fff;
}
ul li::before {
    color: #cf0036;
}
.tab-section{
    width: 100%;
    padding: 34px 0 50px;
    color: #555;
    font-size: 13px;
    line-height: 20px;
}
.tab_text:not(:last-child){
    margin-bottom: 10px;
}
.review-btn{
    color: #FFF;
    background: #d9002a;
    opacity: 1;
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    border-radius: 0;
    border-color: #d9002a;
    position: relative;
    padding: 10px 20px 10px 30px;
}
.review-btn:hover{
    color: #FFF;
    background: #d9002a;
    opacity: 0.7;
    border-color: #d9002a;
}
.review-btn:focus{
    color: #FFF;
    background: #d9002a;
    border-color: #d9002a;
    box-shadow: none;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.review-content{
    border: none;
}
.review-btn:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 14px;
    background: url(../img/chat-ico.svg) no-repeat;
    color: #fff;
    background-size: contain;
    left: 13px;
    top: 13px;
    opacity: 0.7;
}
.card-body{
    padding-left: 0;
}
#collapseExample .contact-block__textarea {
    width: 100%;
    padding-right: 0px;
}
textarea{
    resize: none;
}
.review-btn-content{
    margin-top: 20px;
}
.review-btn-content button, .review-btn-content a{
    height: 33px;
}
.prod_icon{
    visibility: visible;
    opacity: 1;
    right: 0;
}
.prod_icon .tab-item__like::before, .prod_icon .tab-item__graf::before{
    background-size: 15px 15px;
}
.prod_in_image{
    position: relative;
}
.prod_in_image img{
    width: 100%;
    height: 340px;
}
.single-prod-slider{
    max-width: 300px;
    margin: auto;
}
.single-prod-slider .slick-prev:before {
    content: '<';
    opacity: 1;
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 10px;
}
.single-prod-slider .slick-next:before {
    content: '>';
    opacity: 1;
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 10px;
}
.single-prod-slider .slick-prev,.single-prod-slider .slick-next{
    color: #fff;
    background-color: #d9002a;
    border-radius: 50%;
}
.single-prod-slider .slick-prev:hover,.single-prod-slider .slick-next:hover{
    color: #fff;
    background-color: #d9002a;
}
.single-prod-slider .slick-prev:focus,.single-prod-slider .slick-next:focus{
    color: #fff;
    background-color: #d9002a;
}
.single-prod-slider .slick-prev {
    left: -20px;
}
.single-prod-slider .slick-right {
    right: -20px;
}